.homepage {
    background-image: url('https://wallpapercave.com/wp/wp13825969.jpg'); /* your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Make sure it covers the full height */
    width: 222vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensure the pseudo-element overlay works */
}

.homepage h1 {
    color: #eeeeee; /* Your desired color */
}

.navbar {
    
    color: #dddddd; /* Text color in the navbar, change as needed */
    background-color: transparent;
}

/* If the navbar has links, you might want to style them too */
.navbar a {
    color: #d6d6d5; /* Link color in the navbar */
    
}
.navbar a:hover {
    color: #686e6a; /* Change to your desired hover color */
    
}


/* https://marketplace.canva.com/EAFnSII2R7Y/1/0/1600w/canva-beige-neutral-aesthetic-photo-collage-desktop-wallpaper-oU0FWVwdSYg.jpg */